@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800&family=Pacifico&display=swap");

:root {
  font-family: DM Sans, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

p {
  font-size: 16px;
  line-height: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.ibox{
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --green-primary: #17c964;
  --green-light: #adf5cc;
  --green-dark-light: #88f1b6;
  --green-extra-light: #c8f9dd;
  --green-bg: #f1fdf7;
  --green-text: #108944;

  --pink-primary: #ff4ecd;
  --pink-light: #ffa3e5;
  --pink-dark-light: #ff7ad9;
  --pink-extra-light: #ffc2ee;
  --pink-bg: #fff0fb;
  --pink-text: #b80084;

  --red-primary: #f31260;
  --red-extra-light: #fcc5d8;
}
